/*	dark brown:
	#3c2415;

	mid brown: 
	#603913;

	lite brown: 
	#d3b297;

	yellow:
	#ffde17;

*/

body{
	width:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

html,body{
	overflow-x: hidden;
}

h3{
	font-size:	16px;
}

h4{
	font-size:14px;
}

h5{
	font-size:	12px;
}

h6{
	font-size:8px;
}

.error{
	color:#BD3828;
	font-weight: bold;
	font-size:14px;
	line-height:14px;
	height:14px;
	margin-top:20px;
	margin-bottom:20px;
}

#banner{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#header{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	background:#ffde17;
}

#header-content{
	text-align: center;
	color:#3c2415;
	font-weight: bold;
	font-size: 16px;
	max-width:960px;
	margin:auto;
}

*{
	font-family: 'Open Sans', sans-serif;
}

ul,li{
	padding:0;
	margin:0;
	list-style-type: square;
}

html, body{
	padding:0;
	margin:0;
	background:white;
}

#main_section{
	margin-top:20px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
/*	background:green;*/
}

.build-your-own-button-link, .build-your-own-button-link:hover {
	text-decoration: none;
	color:#3c2415;
	color:	#603913;
}

.build-your-own-button{
	cursor:pointer;
	display:inline-block;
	float:center;
	clear:both;
	font-family: 'Open Sans', sans-serif;
	background:	#ffde17;
	border-radius:5px;
	border:2px #603913 solid;
	box-shadow: 1px 1px 2px #666;
	padding:1px 10px;
	font-size:17px;
	font-weight:600;
	height:auto;
	padding:1px 10px;
	text-transform: uppercase;
}

.build-your-own-button:hover{
	opacity:0.8;
	transition: 0.3;
	border:2px #603913 solid;
}

.sub-heading{
	color:#3c2415;
	font-size: 16px;
	font-weight: bold;
}

.home-section, .browse-section{
	margin-top:50px;`
	margin-bottom:50px;
	text-align:center;
}

.home-section-title{
	
}

.home-section-title:hover{
	opacity:0.8;
	transform: 0.5s;
}

.home-section-image{
	width:calc(90% - 20px);
	padding:10px;
}

.browse-section-image{

}

.browse-section{
	
}

.order-section{
	margin-top:10px;
	margin-bottom:30px;
	text-align:center;
}

.order-section-title{
	width:80%;
	font-size:14px;
}

.section-title{
	font-family: 'Noto Sans JP', sans-serif;
	cursor:pointer;
	margin:auto;
	display:inline-block;
	padding:3px 12px;
	/*display:inline-block;*/
	/*background: #ffde17;*/
	background:#fff;
	color:#3c2415;
	text-transform: uppercase;
	font-size:16px;
	border-radius:4px;
	border:1px #603913 solid;
	box-shadow: 1px 1px 2px #666;
	font-weight:300;
	letter-spacing: .01em;
}

#logo{
	margin-top:10px;
	width:420px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.link-text{
	font-family: 'Coming Soon', cursive !important;
	font-weight:900;
	font-size:16px;
	color:	#3c2415 !important;
}

#menu{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.menu-item{
	width:120px;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	margin:10px;
	display:inline-block;
	text-align:center;
}

.menu_item:hover{
	opacity:0.6;
	transition:0.3s;
}

.link_no_underline:hover{
	color:#444;
}

.link_no_underline{
	text-decoration: none;
	color:#444;
}

#email-subscribe-container{
	background:	#ffde17;
	padding:10px;
	text-align:center;
	display:inline-block;
	margin:auto;
	border-radius:2px;
}

#email-subscribe-input{
	margin:0;
	padding-left:5px;
	padding:0;
}

.thumbnail-img{
	position:relative;
	border:0;
	object-fit: cover;
  	width: 100%;
  	min-height: 100%;
	width:50px;
}

.thumbnail-container-selected{
	border:2px 	#ffde17 solid !important;
}

.thumbnail-container{
	margin-right:5px;
	border:2px 	#eee solid;
	border-radius:4px;
	position:relative;
	margin-bottom:5px;
	float:left;
	width:50px;
	height:50px;
	overflow:hidden;
}

#footer-img-container{
	display:inline-block;
}

.social-img{
	width:30px;
	height:30px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
}

#subscribe-container{
	color:	#603913;
	position:relative;
	margin-left:20px;
	display:inline-block;
	bottom:10px;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;

}

#subscribe-email-input{
	font-size:15px;
	font-weight:normal;
	margin-left:20px;
}

#subscribe-submit{
	font-family: 'Open Sans', sans-serif;
	background:	#603913;
	border:0;
	color:white;
	line-height: normal;
	padding:0 20px;
	position:relative;
}

#subscribe-email-input::placeholder{
	color:#603913;
}

.subscribe-input{
	font-size:13px !important;
	box-sizing: border-box !important;
	border:0 !important;
	height:35px !important;
}

#subscribe-submit:hover{
	opacity:0.8;
	transition:0.2s;
}


#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffde17;
  color: white;
  height:50px;
  text-align: center;
}

#copyright-container{
	display:inline-block;
	overflow: hidden;
	margin-bottom:2px;
	margin-left:10px;
}

#footer-content{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	color:#3c2415;
	font-weight: bold;
	font-size: 16px;
	width:100%;
	max-width:960px;
}

#footer-img{
	height:30px;
	margin-top:10px;
}


@media (max-width: 650px) {
	.menu-item{
		width:calc(33% - 30px) !important;
	}

	#logo{
		width:90% !important;
	}

	.home-section-image{
		width:80%;
	}

	.order-section-title{
		width:70%;
		margin-bottom:20px;
	}
}

@media (max-width: 700px) {
	#subscribe-container{
		display:none !important;
	}
}

.mobile-button{
	background:#ffde17;
	color:#3c2415;
	border-radius:3px;
	height:38px;
	line-height: 38px;
	font-size: 11px;
}
